<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <style>
            input {
                border: none;
            }
            p {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
